:root {
    --bg-color: none;
    --main-color: #BC2749;
    --content-color: #ECCDC1;
    --text-color: black;
}

*{
    /* font-family: 'TTTtangsbudaejjigaeB'; */
    font-family: 'KyoboHandwriting2021sjy';
}
body{
    background-image: url(../backgroundImage/background_beach.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* 땅스 */
@font-face { 
    font-family: 'TTTtangsbudaejjigaeB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
    /* font-weight: 700; */
    font-style: normal;
}

@font-face { 
    font-family: 'KyoboHandwriting2021sjy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KyoboHandwriting2021sjy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}