.loginContainer {
  width: calc(100% - 32px);
  height: calc(100% - 64px);
  padding: 16px 16px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  gap: 40px;

  .loginTitleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 16px;
    .loginTitle {
      font-size: 32px;
      color: white;
      font-weight: 600;
      font-family: 'TTTtangsbudaejjigaeB';
    }
  }
  .loginInputBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    .loginText {
      font-size: 30px;
      color: white;
      font-weight: 600;
      margin-bottom: 16px;
    }
    input {
      font-size: 16px;
      width: 200px;
      padding: 0 16px;
      height: 32px;
      border: none;
      border-radius: 8px;
      outline: none;
      // color: var(--bg-color);
      color: gray;
    }
    input::placeholder{
      color: var(--bg-color);
    }
  }
  .loginButtonBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    .loginButton {
        font-size: 20px;
        width: 232px;
        height: 32px;
        border: none;
        border-radius: 8px;
        outline: none;
        background-color: white;
        color: gray;
        box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    }
  }
  .signUpText {
    font-size: 16px;
    color: gray;
    font-weight: 400;
  }
}
@font-face { 
  font-family: 'TTTtangsbudaejjigaeB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
  /* font-weight: 700; */
  font-style: normal;
}