.mainContainer {
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;

  .mainContentBox {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    .mainHeader {
      width: 100%;
      display: flex;
      justify-content: end;
      align-items: center;
      font-size: 24px;
      position: relative;
      top: 0;
      gap: 4px;
    }
    .mainMyCapsuleText {
      font-size: 1.5rem;
      font-weight: 600;
    }

    .mainMyCapsule {
    }
    .mainReceivedCapsuleText {
      font-size: 1.5rem;
      margin-top: 32px;
      font-weight: 600;
    }
    .mainReceivedCapsule {
      width: calc(80px * 3 + 17px * 3);
      display: flex;
      flex-flow: wrap row;
    }
  }
}
.glassCapsule {
  position: absolute;
  top: calc((100% - 393px) / 2);
  left: calc((100% - 255px + 40px) / 2);
}
.toast {
  font-size: 16px !important;
  color: #fff !important;
  background-color: #999c9ad5 !important;
  border-radius: 8px !important;
  min-height: 30px !important;
  width: 180px !important;
  margin: auto !important;
  display: inline-block !important;
  line-height: 30px !important;
}