.mainContainer {
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  .receivedCapsuleNum {
    position: absolute;
    top: calc((100% - 52px) / 2 - 44px);
    z-index: 11;
    text-align: center;
    // border-bottom: 2px dashed black;
    font-size: 1.2rem;
  }

  .sealDate {
    position: absolute;
    top: calc((100% - 52px) / 2 + 0px);
    z-index: 11;
    text-align: center;
    border-bottom: 2px dashed black;
    font-size: 1.2rem;
  }
  .openDate {
    position: absolute;
    top: calc((100% - 52px) / 2 + 64px);
    z-index: 11;
    text-align: center;
    border-bottom: 2px dashed black;
    font-size: 1.2rem;
  }
  .mainContentBox {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    .mainHeader {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 24px;
      position: relative;
      top: 0;
      gap: 4px;
    }
    .mainMyCapsuleText {
      font-size: 2rem;
      font-weight: 400;
    }

    .mainMyCapsule {
    }
    .mainReceivedCapsuleText {
      font-size: 1.5rem;
      margin-top: 32px;
      font-weight: 600;
    }
    .mainReceivedCapsule {
      width: calc(80px * 3 + 17px * 3);
      display: flex;
      flex-flow: wrap row;
    }

    .mainReceivedCapsule > div:nth-child(1) {
      position: absolute;
      left: calc(50% - 116px);
      top: calc(50% + 80px);
      rotate: -75deg;
    }
    .mainReceivedCapsule > div:nth-child(2) {
      position: absolute;
      left: calc(50% - 80px);
      top: calc(50% + 96px);
      rotate: 12deg;
    }
    .mainReceivedCapsule > div:nth-child(3) {
      position: absolute;
      left: calc(50% - 48px);
      top: calc(50% + 80px);
      rotate: 205deg;
    }
    .mainReceivedCapsule > div:nth-child(4) {
      position: absolute;
      left: calc(50% + 8px);
      top: calc(50% + 92px);
      rotate: -12deg;
    }
    .mainReceivedCapsule > div:nth-child(5) {
      position: absolute;
      left: calc(50% - 100px);
      top: calc(50% + 32px);
      rotate: 192deg;
    }
    .mainReceivedCapsule > div:nth-child(6) {
      position: absolute;
      left: calc(50% - 40px);
      top: calc(50% + 32px);
      rotate: -60deg;
    }
    .mainReceivedCapsule > div:nth-child(7) {
      position: absolute;
      left: calc(50% + 12px);
      top: calc(50% + 52px);
      rotate: -170deg;
    }

    .mainReceivedCapsule > div:nth-child(8) {
      position: absolute;
      left: calc(50% - 96px);
      top: calc(50% - 4px);
      rotate: 10deg;
    }
    .mainReceivedCapsule > div:nth-child(9) {
      position: absolute;
      left: calc(50% + 16px);
      top: calc(50% + 12px);
      rotate: -140deg;
    }
    .mainReceivedCapsule > div:nth-child(10) {
      position: absolute;
      left: calc(50% - 52px);
      top: calc(50% - 32px);
      rotate: -150deg;
    }
    .mainReceivedCapsule > div:nth-child(11) {
      position: absolute;
      left: calc(50% + 28px);
      top: calc(50% - 40px);
      rotate: 76deg;
    }
    .mainReceivedCapsule > div:nth-child(12) {
      position: absolute;
      left: calc(50% - 104px);
      top: calc(50% - 32px);
      rotate: -150deg;
    }
    .mainReceivedCapsule > div:nth-child(13) {
      position: absolute;
      left: calc(50% - 24px);
      top: calc(50% - 48px);
      rotate: 15deg;
    }
    .mainReceivedCapsule > div:nth-child(14) {
      position: absolute;
      left: calc(50% - 96px);
      top: calc(50% - 80px);
      rotate: -190deg;
    }
    .mainReceivedCapsule > div:nth-child(15) {
      position: absolute;
      left: calc(50% - 12px);
      top: calc(50% - 88px);
      rotate: -175deg;
    }
    
  }
  .copyLinkButton{
    max-width: 500px;
    width: calc(100% - 32px);
    position:fixed;
    border:none;
    text-align: center;
    border-radius: 12px;
    padding: 16px 0;
    color: white;
    font-weight: 400;
    font-size: 1.3rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    bottom: 20px;
  }
}
.glassCapsule {
  position: absolute;
  top: calc((100% - 393px) / 2);
  left: calc((100% - 255px + 40px) / 2);
}
.toast {
  font-size: 16px !important;
  color: #fff !important;
  background-color: #999c9ad5 !important;
  border-radius: 8px !important;
  min-height: 30px !important;
  width: 200px !important;
  margin: auto !important;
  display: inline-block !important;
  line-height: 30px !important;
}
