.openReceivedCapsule{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 500px;
  width: 100%;
  justify-items: center;
  max-height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* 인터넷 익스플로러 */
  scrollbar-width: none;
  /* 파이어폭스 */
}

// 스크롤바 숨기기
.openReceivedCapsule::-webkit-scrollbar {
  display: none;
}