.glassSettingBox {
  max-width: 200px;
  .glassSettingHeader {
    text-align: center;
    font-size: 28px;
    padding: 0 0 48px 0;
  }
  .glassBox {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 52px;
    .glass {
      margin-left:20px;
      width: 160px;
      aspect-ratio: 215/318;
    }
  }
}
.slick-prev:before,
.slick-next:before {
  font-size: 32px;
  color:gray;
}

.slick-prev:before {
  position:absolute;
  bottom: 32px;
  left: -8px;
}
.slick-next:before {
  right:-8px;
  bottom: 32px;
  position:absolute;
}
