.glassModalContainer {
    
  .glassModalBG {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
  .glassModalSettingBox {
    position: absolute;
    max-width: 600px;
    width: 300px;
    height: 520px;
    background-color: #eaeaea;
    left: calc((100% - 300px) / 2);
    top: calc((100% - 520px) / 2);
    z-index: 101;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
    border-radius: 12px;
    font-weight: 600;
    .backButton {
      position: absolute;
      font-size: 24px;
      top: calc((100% - 24px)/2 - 232px);
      left: calc((100% - 24px)/2 - 124px);
    }
    .glassDateSettingContainer {
      display: flex;
      align-items: center;
      flex-direction: column;
      .glass {
        margin-left:20px;
        width: 160px;
        aspect-ratio: 215/318;
        z-index: 10;
      }
      .sealDate{
        position: absolute;
        top: calc((100% - 52px) / 2  - 24px);
        z-index: 11;
        text-align: center;
        border-bottom: 2px dashed black;
        font-size: 0.9rem;
      }
      .OpenDate{
        position: absolute;
        top: calc((100% - 52px) / 2 + 24px);
        z-index: 11;
        text-align: center;
        border-bottom: 2px dashed black;
        font-size: 0.9rem;
      }
    }
    .glassDateHeader {
      font-size: 28px;
      padding: 0 0 48px 0;
      font-weight: 400;
    }
  }
}
